body.mainBody {
    background-color: powderblue;
}

h1.mTitle {
    display: block;
    margin-left: 500px;
    margin-right: 200px;
    width: 100%;
    color: black;
    font-family: 'Brush Script MT', cursive, sans-serif;
    font-size: 70px;
}

p {
    color: red;
}

p.messy {
  margin-bottom: 5px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  margin-left: 310px;
}

img {
    display: inline;
    margin-left: 45px;
    margin-right: auto;
    height: 350px;
}

button.refresh {
    display: inline;
    margin-left: 555px;
    margin-right: auto;
    width: 49%;
    border-radius: 8px;
    background-color: #FF69B4;
}

button.upload {
    display: inline;
    margin-left: auto;
    margin-right: auto;
    width: 49%;
    border-radius: 8px;
    background-color: #4CAF50;
}

button.stop {
    display: inline;
    margin-left: 555px;
    margin-right: auto;
    width: 49%;
    border-radius: 8px;
    background-color: #F9F9F9;
}

form {
    display: inline;
    margin-left: auto;
    margin-right: auto;
    width: 49%;
}

button.start {
    display: inline;
    margin-left: auto;
    margin-right: auto;
    width: 25%;
    margin-left: 450px;
    margin-top: 20px;
    background-color: #FF00FF;
}
