<!DOCTYPE html>
<html lang="en">
 
<head>
	 <meta charset="utf-8">
	 <meta http-equiv="X-UA-Compatible" content="IE=edge">
	 <meta name="viewport" content="width=device-width, initial-scale=1">
	 <meta name="description" content="">
	 <meta name="author" content="">

	 <link href="static/css/main.css" rel="stylesheet">
	 <title>Face Yourself</title>

	 <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script> 

</head>
	<body class="mainBody">

	<div>
		
		<h1 class="mTitle">
			Face Yourself
		</h1>

	</div>

	<div>
		<span>
			<img class="mainImage" id="mainPicture" src="/static/pictures/tsundere.jpg" alt="Face to Compare">

			<img class="myImage" id="myPicture" src="/static/pictures/empty.jpg" alt="Face to Compare">

		</span>

		<div>
			<span>
				<button class="refresh" id="refreshButton">New Picture!</button>

				<button class="upload" id="uploadButton">Upload my Picture!</button>
			</span>
		</div>
		
		<div>
			<button class="start">Start Analysis!</button>
		</div>
	</div>
</body>
</html>